@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Vidaloka&display=swap');

/*General text style*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #354142;
}

h3, h2{
    letter-spacing: 4px;
}

.logo-style {
    font-family: 'Vidaloka', sans-serif;
    letter-spacing: 4px;
    color: #354142;
}

/* Header Style */

header {
    width: 100%;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 10px;
}

#menu{
    display: flex;
    justify-content:space-evenly;
    max-width: 600px;
    list-style: none;
    padding: 5px;
    margin: auto;
}

header a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover{
    border-bottom: 1px solid orange;
}
.active {
    font-weight: 600;
}

/*Cover page photo*/

#introduction-container {
    width: 100%;
    height: 500px;
    position: relative;
}

#introduction-img{
    background-image: url(../images/jeans-selection.jpg);
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size:cover;
}
#introduction-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction-overlay>div{
    background-color: #fafafa9e;
    padding: 15px;
}

#sub-logo{
    text-align: center;
    font-size: 200%;
    text-transform: none;
    color: #fff;
}

/*style the about section*/
.about-content > h2,h3{
    padding-bottom: 10px;
}
#about-title{
    padding-top: 10px;
    text-align: center;
}

.about-content {
    background-position: center;
    overflow: hidden;
    padding: 20px;
    border-bottom: #354142 solid 1px;
}
.about-content div {
    color:#fafafa;
    background-color: rgba(53, 65, 66, 0.7);
    width: 90%;
    height: auto;
    padding: 5%;
    text-align: center;
    margin: 2px;
}
/*Footer Styling*/

footer {
    padding-top: 10px;
    margin-left: 10%;
    width:80%;
    text-align: center;
}

footer div{
    margin-top: 30px;
}

table{
    width: 300px;
    text-align: center;
}

.social-network {
    font-size: 250%;
    color: #3a3a3a;
}

/* Additional styling for about our services */
.services{
    margin: 10px;
    text-align: center;
}
#services-title{
    text-align: center;
    padding: 10px;
}

.pricing{
    text-decoration: none;
    font-weight: 700;
}
#services-border{
    border-bottom: solid #354142 1px;
    padding-bottom: 10px;
}

#fitting-img{
    background: url(../images/fitting-room.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}
#measure-img{
    background: url(../images/measuring-assitance.jpg) no-repeat center center;
    max-width: 500px;
    height: 300px;
    background-size: cover;
}

#sewingmachine-img{
    background: url(../images/sewing-machine.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}
#box-jeans-img{
    background: url(../images/box-of-jeans.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}
/*Query Form Style*/
.form-section {
    clear: left;
    background: url(../images/jeans-stack.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form {
    margin:150px 10% 0 0;
    color: #fff;
    background-color:  rgba(53, 65, 66, 0.8);
    max-width: 800px;
    position:absolute;
    left: 10%;
    padding:40px;
    border-radius: 3px;
    border: 5px double #fff;
}

.signup-form > h2 {
    color:#fafafa;
    margin-bottom: 20px;
}

.text-input{
    background:transparent;
    color:#fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    }

.drop-down-text{
    color: #354142;
}
.text-input:hover{
    border-color: #ff8a43;
}

.text-field{
    background:#354142;
    color:#fafafa;
    width: 100%;
    height: 100px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    }

.send-query-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ff8a43;
    color: #fafafa;
    display: block;
}

.send-query-button:hover{
    background-color:#354142;
    color: #ff8a43;
    border: 1px solid #fff;
}

@media screen and (min-width: 1240px){

}

