@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Vidaloka&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #354142;
}

/*heading and logo*/
h1, h2{
    font-family: 'Vidaloka', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #354142;
}

#logo {
    text-align: center;
    font-size: 280%;
}

/* Navigation Bar Design */

header {
    width: 100%;
    letter-spacing: 4px;
}
#menu-outer {
    width:100%;
	height: 50px;
	border-top: 1px solid  #354142;
    border-bottom: 1px solid  #354142;
}
.table {
	display: table;
	margin: 0 auto;
}
ul#menu {
	min-width: 350px;
	list-style: none;
    padding-top: 10px;
	}

ul#menu li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
	}

header a {
    text-decoration: none;
    color:inherit;
}
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Cover page photo*/

#introduction-container {
    width:50%;
    height: 600px;
}

#introduction {
    margin: 10%;
    width: 300px;
    height: 300px;
    border: 3px double #fff;
    padding: 10px;
    text-align: center;
    color: #fff;
}

#introduction > h2 {
    color:#fff;
    padding-top: 20%;
    padding-bottom: 10%;
}
#homepage-outer {
    height: 600px;
    width: 100%;
    background-color: #354142;
    overflow: hidden;
    position: relative;
}
#homepage-image {
    width: 50%;
    height: 600px;
    background: url(../images/denim-shelf-wide.jpg) no-repeat center center;
    background-size: cover;
    float: right;
}

/*style the about section*/
#about-content > h2,h3{
    text-decoration: underline;
    padding-bottom: 10px;
}
#about-title{
    padding-top: 10px;
    text-align: center;
}

#about-content {
    background-position: center;
    width: 100%;
    overflow: hidden;
}
#about-content div {
    color:#fafafa;
    background-color: rgba(53, 65, 66, 0.7);
    width: 33%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
    margin: 1.5px;
}
/*Footer Styling*/

footer {
    padding-top: 20px;
}
footer h3 {
    text-decoration: none;
    text-align: center;
}

footer div{
    display: inline-block;
    width: 33%;
    height: 100px;
    text-align: center;
    vertical-align: top;
}

table{
    width: 90%;
    text-align: right;
}

.social-network {
    font-size: 250%;
    margin:1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Additional styling for about our services */
.services {
    display: inline-block;
    width: 24%;
    height: 600px;
    text-align: center;
    vertical-align: top;
} 
.services h2{
    text-align: center;
}

#fitting-img{
    background: url(../images/fitting-room.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}
#measure-img{
    background: url(../images/measuring-assitance.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}

#sewingmachine-img{
    background: url(../images/sewing-machine.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}
#box-jeans-img{
    background: url(../images/box-of-jeans.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}
/*Query Form Style*/
.form-section {
    clear: left;
    background: url(../images/jeans-stack.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form {
    margin:150px 10% 0 0;
    color: #fff;
    background-color:  rgba(53, 65, 66, 0.8);
    max-width: 800px;
    position:absolute;
    left: 10%;
    padding:40px;
    border-radius: 3px;
    border: 5px double #fff;
}

.signup-form > h2 {
    color:#fafafa;
    margin-bottom: 20px;
}

.text-input{
    background:transparent;
    color:#fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    }

.drop-down-text{
    color: #354142;
}
.text-input:hover{
    border-color: #ff8a43;
}

.text-field{
    background:#354142;
    color:#fafafa;
    width: 100%;
    height: 100px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    }

.send-query-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ff8a43;
    color: #fafafa;
    display: block;
}

.send-query-button:hover{
    background-color:#354142;
    color: #ff8a43;
    border: 1px solid #fff;
}

/* Media Queries */
@media screen and (max-width: 1000px){}

