@media screen and (min-width: 1240px){
    
    /*Menu*/
    .menubtn {
        visibility: hidden;
        position: absolute;
    }

    .menucontent {
        display: flex;
        justify-content: space-around;
        box-shadow: none;
        position: static;
    }
    
    .menucontent a {
        padding: 20px 16px;
    }

    .menudrop:hover .menucontent {
        display: flex;
    }

    /*Intro Container*/

    #introduction-overlay {
        padding: 100px;
        width: 50%;
        bottom: 0;
        text-align: left;
    }

    #introduction-overlay h2 {
        font-size: 500%;
        color: #fafafab7;
    }

    #introduction-overlay p{
        font-size: 130%;
        padding: 10px;
        border-radius: 10px;
    }

    #introduction-container {
        height: 800px;
        background-color: none;
    }

    /*About Section */

    .about-container {
        display: flex;
        max-width: none;
        margin: 0;
    }

    .about-content {
        width: 100%;
    }

    .about-imgs{
        border-radius: 45%;
    }

    /* Services style */

    #services-border {
        max-width: 2000px;
    }

    .services{
        display: flex;
        flex-flow: row;
        align-items: center;
        max-width: none;
    }
    
    .services div{
        padding: 10px;
    }
    
    .services + .reverse-order{
        flex-flow: row-reverse;
    }
    
    .services-text-box {
        width: 100%;
    }
    
    .img-settings{
        height: 600px;
        background-size: cover;
        background-position: center;
    }
}