@media screen and (min-width: 1240px){
    
    /*Menu*/
    .menubtn {
        visibility: hidden;
        position: absolute;
    }

    .menucontent {
        display: flex;
        justify-content: space-around;
        box-shadow: none;
        position: static;
    }
    
    .menucontent a {
        padding: 20px 16px;
    }

    .menudrop:hover .menucontent {
        display: flex;
    }

    /*Home Page*/
    .homepage-background{
        max-width: 1800px;
    }
    .homepage-container{
        display: flex;
        justify-content: center;
        background-color: #3a3a3a;
    }

    .homepage-overlay {
        justify-content: end;
        width: 100%;
        flex-wrap:wrap;
        align-items: center;
    }

    .introduction-container{
        width: 600px;
    }

    .introduction-container h2 {
        font-size: 400%;
    }

    .introduction-container p {
        font-size: larger;
        text-align: center;
        font-weight: bold;
    }

    .about-container {
        display: flex;
        max-width: none;
        justify-content: center;
        width: 100%;
    }

    .about-content {
        width: 100%;
        box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }

    hr{
        width: 50%;
    }

    /* Services style */
    .services{
        display: flex;
        flex-flow: row;
        align-items: center;
        max-width: 2000px;
    }
    
    .services div{
        padding: 10px;
    }
    
    .services + .reverse-order{
        flex-flow: row-reverse;
    }
    
    .services-text-box {
        width: 100%;
    }
    
    .img-settings{
        height: 600px;
        background-size: cover;
        background-position: center;
    }

    /*Contact Us*/

    .form-overlay > h2 {
        font-size: 500%;
    }

    .signup-form {
        margin: 0;
    }

    /*Footer Styling*/

    footer {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }

}