@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Vidaloka&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #354142;
}

/*heading and logo*/
h1, h2{
    font-family: 'Vidaloka', sans-serif;
    text-transform: lowercase;
    letter-spacing: 4px;
    color: #354142;
}

h3{
    letter-spacing: 4px;
}

#logo {
    text-align: center;
    font-size: 280%;
    text-transform: none;
}

/* Navigation Bar Design */

header {
    width: 100%;
    letter-spacing: 4px;
}
#menu-outer {
    width:100%;
	height: 50px;
	border-top: 1px solid  #354142;
    border-bottom: 1px solid  #354142;
}
table {
	margin: 0 auto;
}
ul#menu {
	min-width: 350px;
	list-style: none;
    padding-top: 10px;
	}

ul#menu li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
	}

header a {
    text-decoration: none;
    color:inherit;
}
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Cover page photo*/

#homepage-outer {
    clear: left;
    background: url(../images/denim-shelf-wide.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}
.introduction-container {
    margin:200px 10% 0 0;
    color: #fff;
    background-color:  rgba(53, 65, 66, 0.9);
    max-width: 800px;
    position:absolute;
    left: 10%;
    padding:40px;
    border-radius: 3px;
    border: 5px double #fff;
}

#sub-logo{
    text-align: center;
    font-size: 200%;
    text-transform: none;
    color: #fff;
}

/*style the about section*/
.about-content > h2,h3{
    padding-bottom: 10px;
}
#about-title{
    padding-top: 10px;
    text-align: center;
}

.about-content {
    background-position: center;
    overflow: hidden;
    padding: 20px;
    border-bottom: #354142 solid 1px;
}
.about-content div {
    color:#fafafa;
    background-color: rgba(53, 65, 66, 0.7);
    width: 90%;
    height: auto;
    padding: 5%;
    text-align: center;
    margin: 2px;
}
/*Footer Styling*/

footer {
    padding-top: 10px;
    margin-left: 10%;
    width:80%;
    text-align: center;
}

footer div{
    margin-top: 30px;
}

table{
    width: 300px;
    text-align: center;
}

.social-network {
    font-size: 250%;
    color: #3a3a3a;
}

/* Additional styling for about our services */
.services {
    display: inline-block;
    width: 24%;
    height: 600px;
    text-align: center;
    vertical-align: top;
} 
#services-title{
    text-align: center;
    padding: 10px;
}

.pricing{
    text-decoration: none;
    font-weight: 700;
}
#services-border{
    border-bottom: solid #354142 1px;
    padding-bottom: 10px;
}

#fitting-img{
    background: url(../images/fitting-room.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}
#measure-img{
    background: url(../images/measuring-assitance.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}

#sewingmachine-img{
    background: url(../images/sewing-machine.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}
#box-jeans-img{
    background: url(../images/box-of-jeans.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    background-size: cover;
}
/*Query Form Style*/
.form-section {
    clear: left;
    background: url(../images/jeans-stack.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form {
    margin:150px 10% 0 0;
    color: #fff;
    background-color:  rgba(53, 65, 66, 0.8);
    max-width: 800px;
    position:absolute;
    left: 10%;
    padding:40px;
    border-radius: 3px;
    border: 5px double #fff;
}

.signup-form > h2 {
    color:#fafafa;
    margin-bottom: 20px;
}

.text-input{
    background:transparent;
    color:#fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    }

.drop-down-text{
    color: #354142;
}
.text-input:hover{
    border-color: #ff8a43;
}

.text-field{
    background:#354142;
    color:#fafafa;
    width: 100%;
    height: 100px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    }

.send-query-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ff8a43;
    color: #fafafa;
    display: block;
}

.send-query-button:hover{
    background-color:#354142;
    color: #ff8a43;
    border: 1px solid #fff;
}

/* Media Queries */
@media screen and (max-width: 1240px){
    header {
        width: 100%;
        letter-spacing: 2px;
    }

}
@media screen and (min-width: 1240px){
    .about-content div {
        color:#fafafa;
        background-color: rgba(53, 65, 66, 0.7);
        width: 33%;
        height: 300px;
        float: left;
        padding: 30px 0 0 10px;
        text-align: center;
        box-sizing: border-box;
        margin: 2px;
    }
    .about-content {
        background-position: center;
        overflow: hidden;
        padding: 20px;
        border-bottom: #354142 solid 1px;
    }
    /* Footer style */
    footer div{
        display: inline-block;
        width: 33%;
        height: 100px;
        text-align: center;
        vertical-align: top;
    }
    footer{
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
}

